In [1]:
import pandas as pd

In [2]:
df_ter = pd.read_csv('terrasses_nom_local.csv')

In [5]:
df_ter.head(5)

,Unnamed: 0,CODI_BARRI,NOM_BARRI,EMPLACAMENT,SUPERFICIE_OCUPADA,TAULES,CADIRES,LATITUD,LONGITUD,Nom_Via,Numero,nom_local
0,0,9,la Nova Esquerra de l'Eixample,"C. CALABRIA, 118",6.75,3.0,12.0,41.380772,2.153789,CALABRIA,118,NaN
1,1,9,la Nova Esquerra de l'Eixample,"C. PROVENÇA, 32",6.75,3.0,12.0,41.382319,2.145211,PROVENÇA,32,varios
2,2,9,la Nova Esquerra de l'Eixample,"C. COMTE BORRELL, 292",6.00,2.0,8.0,41.389437,2.146814,COMTE BORRELL,292,BCN BRUNCH
3,3,9,la Nova Esquerra de l'Eixample,"C. ROSSELLO, 99",3.90,2.0,4.0,41.386384,2.147948,ROSSELLO,99,NaN
4,4,9,la Nova Esquerra de l'Eixample,"C. CONSELL DE CENT, 140",2.40,2.0,4.0,41.381879,2.153651,CONSELL DE CENT,140,varios

In [6]:
df_ter.columns = ['num_id', 'codBarrio', 'nomBarrio', 'direccion', 'area', 'mesas', 'sillas', 'lat', 'lon', 'nomVia', 'numVia', 'nomLocal']

In [10]:
df_ter.head(5)

,num_id,nomLocal,nomVia,numVia,direccion,codBarrio,nomBarrio,area,mesas,sillas,lat,lon
0,0,NaN,CALABRIA,118,"C. CALABRIA, 118",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.380772,2.153789
1,1,varios,PROVENÇA,32,"C. PROVENÇA, 32",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.382319,2.145211
2,2,BCN BRUNCH,COMTE BORRELL,292,"C. COMTE BORRELL, 292",9,la Nova Esquerra de l'Eixample,6.00,2.0,8.0,41.389437,2.146814
3,3,NaN,ROSSELLO,99,"C. ROSSELLO, 99",9,la Nova Esquerra de l'Eixample,3.90,2.0,4.0,41.386384,2.147948
4,4,varios,CONSELL DE CENT,140,"C. CONSELL DE CENT, 140",9,la Nova Esquerra de l'Eixample,2.40,2.0,4.0,41.381879,2.153651

In [9]:
df_ter = df_ter[['num_id', 'nomLocal', 'nomVia', 'numVia', 'direccion', 'codBarrio', 'nomBarrio', 'area', 'mesas', 'sillas', 'lat', 'lon']]

In [11]:
df_ter.head(5)

,num_id,nomLocal,nomVia,numVia,direccion,codBarrio,nomBarrio,area,mesas,sillas,lat,lon
0,0,NaN,CALABRIA,118,"C. CALABRIA, 118",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.380772,2.153789
1,1,varios,PROVENÇA,32,"C. PROVENÇA, 32",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.382319,2.145211
2,2,BCN BRUNCH,COMTE BORRELL,292,"C. COMTE BORRELL, 292",9,la Nova Esquerra de l'Eixample,6.00,2.0,8.0,41.389437,2.146814
3,3,NaN,ROSSELLO,99,"C. ROSSELLO, 99",9,la Nova Esquerra de l'Eixample,3.90,2.0,4.0,41.386384,2.147948
4,4,varios,CONSELL DE CENT,140,"C. CONSELL DE CENT, 140",9,la Nova Esquerra de l'Eixample,2.40,2.0,4.0,41.381879,2.153651

In [13]:
df_ter.to_csv('terrasses.csv', index = False)

In [75]:
len(df_ter['CODI_BARRI'].unique())

69

In [15]:
df_ter[df_ter["codBarrio"] == 2]

,num_id,nomLocal,nomVia,numVia,direccion,codBarrio,nomBarrio,area,mesas,sillas,lat,lon
4066,4066,varios,SANT JUST,4,"PL. SANT JUST, 4",2,el Barri Gòtic,9.0,4.0,16.0,41.383010,2.178447
4067,4067,varios,RIVADENEYRA,1,"C. RIVADENEYRA, 1",2,el Barri Gòtic,32.0,8.0,32.0,41.385765,2.170849
4068,4068,varios,RAMBLA,74,"C. RAMBLA, 74",2,el Barri Gòtic,22.5,10.0,40.0,41.380882,2.173764
4069,4069,NaN,REIAL,16,"PL. REIAL, 16",2,el Barri Gòtic,27.0,12.0,48.0,41.379640,2.175352
4070,4070,CAFE BABEL,CORREU VELL,14,"C. CORREU VELL, 14",2,el Barri Gòtic,9.0,4.0,16.0,41.381871,2.179892
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,4272,varios,REIAL,3,"PL. REIAL, 3",2,el Barri Gòtic,24.9,11.0,44.0,41.380158,2.174702
4273,4273,varios,REIAL,7,"PL. REIAL, 7",2,el Barri Gòtic,18.0,8.0,32.0,41.380553,2.175174
4274,4274,varios,REIAL,10,"PL. REIAL, 10",2,el Barri Gòtic,13.5,6.0,24.0,41.380222,2.175600
4275,4275,NaN,. LAIETANA,19,"VIA. LAIETANA, 19",2,el Barri Gòtic,16.0,4.0,16.0,41.383547,2.179094
4276,4276,NaN,BOT,23-25,"C. BOT, 23-25",2,el Barri Gòtic,27.0,12.0,48.0,41.384533,2.171812