In [1]:
import pandas as pd

In [2]:
df_ter = pd.read_csv('terrasses_nom_local.csv')

In [5]:
df_ter.head(5)

,Unnamed: 0,CODI_BARRI,NOM_BARRI,EMPLACAMENT,SUPERFICIE_OCUPADA,TAULES,CADIRES,LATITUD,LONGITUD,Nom_Via,Numero,nom_local
0,0,9,la Nova Esquerra de l'Eixample,"C. CALABRIA, 118",6.75,3.0,12.0,41.380772,2.153789,CALABRIA,118,NaN
1,1,9,la Nova Esquerra de l'Eixample,"C. PROVENÇA, 32",6.75,3.0,12.0,41.382319,2.145211,PROVENÇA,32,varios
2,2,9,la Nova Esquerra de l'Eixample,"C. COMTE BORRELL, 292",6.00,2.0,8.0,41.389437,2.146814,COMTE BORRELL,292,BCN BRUNCH
3,3,9,la Nova Esquerra de l'Eixample,"C. ROSSELLO, 99",3.90,2.0,4.0,41.386384,2.147948,ROSSELLO,99,NaN
4,4,9,la Nova Esquerra de l'Eixample,"C. CONSELL DE CENT, 140",2.40,2.0,4.0,41.381879,2.153651,CONSELL DE CENT,140,varios

In [6]:
df_ter.columns = ['num_id', 'codBarrio', 'nomBarrio', 'direccion', 'area', 'mesas', 'sillas', 'lat', 'lon', 'nomVia', 'numVia', 'nomLocal']

In [10]:
df_ter.head(5)

,num_id,nomLocal,nomVia,numVia,direccion,codBarrio,nomBarrio,area,mesas,sillas,lat,lon
0,0,NaN,CALABRIA,118,"C. CALABRIA, 118",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.380772,2.153789
1,1,varios,PROVENÇA,32,"C. PROVENÇA, 32",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.382319,2.145211
2,2,BCN BRUNCH,COMTE BORRELL,292,"C. COMTE BORRELL, 292",9,la Nova Esquerra de l'Eixample,6.00,2.0,8.0,41.389437,2.146814
3,3,NaN,ROSSELLO,99,"C. ROSSELLO, 99",9,la Nova Esquerra de l'Eixample,3.90,2.0,4.0,41.386384,2.147948
4,4,varios,CONSELL DE CENT,140,"C. CONSELL DE CENT, 140",9,la Nova Esquerra de l'Eixample,2.40,2.0,4.0,41.381879,2.153651

In [9]:
df_ter = df_ter[['num_id', 'nomLocal', 'nomVia', 'numVia', 'direccion', 'codBarrio', 'nomBarrio', 'area', 'mesas', 'sillas', 'lat', 'lon']]

In [11]:
df_ter.head(5)

,num_id,nomLocal,nomVia,numVia,direccion,codBarrio,nomBarrio,area,mesas,sillas,lat,lon
0,0,NaN,CALABRIA,118,"C. CALABRIA, 118",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.380772,2.153789
1,1,varios,PROVENÇA,32,"C. PROVENÇA, 32",9,la Nova Esquerra de l'Eixample,6.75,3.0,12.0,41.382319,2.145211
2,2,BCN BRUNCH,COMTE BORRELL,292,"C. COMTE BORRELL, 292",9,la Nova Esquerra de l'Eixample,6.00,2.0,8.0,41.389437,2.146814
3,3,NaN,ROSSELLO,99,"C. ROSSELLO, 99",9,la Nova Esquerra de l'Eixample,3.90,2.0,4.0,41.386384,2.147948
4,4,varios,CONSELL DE CENT,140,"C. CONSELL DE CENT, 140",9,la Nova Esquerra de l'Eixample,2.40,2.0,4.0,41.381879,2.153651

In [13]:
df_ter.to_csv('terrasses.csv', index = False)

In [75]:
len(df_ter['CODI_BARRI'].unique())

69